#root.chat .slideWindow {
height:300px;
overflow:hidden;
}

#root.chat .ralphie-padding{
padding-top:10px;
}

#root.chat {
	padding-top:10px;
}

#root.chat  #chat-box {
max-height:250px;
overflow-y:scroll;
}