

/* dashboard css styles */

body.dashboard {
	padding-top:10px;
}

body.dashboard h3{
margin: 0.5em 0em;
}

#system-clients .row {
padding:5px 0px;
border-bottom: 1px solid #aaaaaa;
}

#system-clients .row p{
margin-top:8px;
}

.icon-blue {
color:#aaaaff;
}

.icon-yellow {
color:#b22400;
}

