

/* dashboard css styles */

#root.dashboard {
	padding-top:10px;
}

#root.dashboard h3{
margin: 0.5em 0em;
}

#system-clients .row, #twitter-list .row {
padding:5px 0px;
border-bottom: 1px solid #aaaaaa;
}

#system-clients .row p{
margin-top:8px;
}

#root.dashboard .slideWindow {
height:300px;
overflow:hidden;
}

#root.dashboard .ralphie-padding{
padding-top:10px;
}

.icon-blue {
color:#aaaaff;
}

.icon-yellow {
color:#b22400;
}

input[type="number"].form-control {
width:58px;
}