html,body,p,h1,h2,h3,ul,li {
margin:0px;
padding:0px;
font-family:sans-serif;
}

#root.displaywindow {
height:100vh;
width:100vw;
overflow:hidden;
}

.displaywindow .margin {
padding:10px;
background:#004400;
height:100%;
}

.displaywindow {
overflow:hidden;
position:relative;
}

.displaywindow .content{

padding:1px;
font-size:1em;
color:#ffffff;
}

.displaywindow .content h1{
font-size:120%;
}

.displaywindow .content h2{
font-size:115%;
}

.displaywindow .content h3{
font-size:110%;
}

.displaywindow .content h4{
font-size:105%;
}

.displaywindow .content p {

margin:1em;
color:#ffffff;

}

.displaywindow .content ul ,.displaywindow .content ol{
margin:1em;
margin-left:2em;
}



.displaywindow .content h1,.displaywindow .content h2, .content h3,.displaywindow .content h4 {
margin:0.5em 1em;

}

.displaywindow .content img:only-of-type {
max-width:100%;
max-height:100%;
display:block;
margin:0 auto;
}



.displaywindow .messageBox {
background: rgba(200, 200, 200, 0.5); /* R, G, B, A */
position:absolute;
display:none;
padding-top:1px;
width:100%;
left:0px;
top:0px;

}

.messageInner  {
font-size:25px;
background:#800000;
margin:10px;
border-radius:20px;
padding:15px;
color:white;
}

.displaywindow .twitterContainer {
background: rgba(200, 200, 200, 0.5); /* R, G, B, A */
position:absolute;
}

#twitterDisplayInner  {
background:#16a6ff;
margin:10px;
border-radius:20px;
padding:15px;
color:white;
}

/* HACK */

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

