<h2>The Three Rules</h2>
<br /><br />
<h1>1. Whoever comes is the right people</h1>
<h1>2. Whatever happens is all that could have happened</h1>
<h1>3. When its over, its over!</h1>
<br /><br />
<h2>One Law</h2>
<br /><br />
<h1>THE LAW OF TWO FEET!</h1>
<br /><br />
<h2>Three Animals</h2>
<br /><br />
<h1>Butterflies</h1>

<h1>Bees</h1>

<h1> Giraffes <--- DON'T BE ONE: USE YOUR FEET!</h1>
<br /><br />
