<div class="container">
<div class="row">
	<div class="col-md-6 col-sm-12">
		<div id="slides-live-window" data-slide-name="live" class="slideWindow"></div>
	</div>
	
	<div class="col-md-6 col-sm-12 ralphie-padding">
		<div id="chat-box"></div>
		<div class="row">
			<div class="col-md-8 col-sm-8 ralphie-padding">
					<textarea class="form-control" id="chat-input-box" rows="2"></textarea>
			</div>
			<div class="col-md-4 col-sm-4 ralphie-padding">
				<button id="chat-send-button" type="button" class="btn btn-success">Send</button>
			</div>
		</div>
	</div>
</div>
</div>						
							
	