<div class="container">
	<div class="col-md-12">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#tab-system" data-toggle="tab">System</a></li>
			<li><a href="#tab-slides" data-toggle="tab">Slides</a></li>
			<li><a href="#tab-other" data-toggle="tab">Other</a></li>
		</ul>
	</div>
	<div class="col-md-12">
		<div class="tab-content">
			<div class="tab-pane active" id="tab-system">
			<!-- System Pane -->
				<div class="row"><div class="col-md-12"><h3>Clients<small id="system-clients-connected"></small></h3></div></div>
				<div id="system-clients"></div>
				<div class="row"><div class="col-md-12"><h3>Server</h3></div></div>
				<div class="row"><div class="col-md-12">
					<button id="system-server-restart" type="button" class="btn btn-warning">Restart</button>
					<button id="system-server-shutdown" type="button" class="btn btn-danger">Shutdown</button>
				</div></div>
			</div>
			
			<div class="tab-pane" id="tab-slides">..dfg.</div>
			
			<div class="tab-pane" id="tab-other">...dfgdfgdfg</div>
		</div>
	</div>
</div>