<div class="container">
	<div class="col-md-12">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#tab-slides" data-toggle="tab">Slides</a></li>
			<li><a href="#tab-system" data-toggle="tab">System</a></li>
			<li><a href="#tab-twitter" data-toggle="tab">Twitter</a></li>
		</ul>
	</div> 
	<div class="col-md-12">
		<div class="tab-content">
			<div class="tab-pane" id="tab-system">
			<!-- System Pane -->
				<div class="row"><div class="col-md-12"><h3>Clients<small id="system-clients-connected"></small></h3></div></div>
				<div id="system-clients"></div>
				<div class="row"><div class="col-md-12"><h3>Server</h3></div></div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="system-json-send">JSON:</label>
							<textarea class="form-control" id="system-json-send">{"bounce":1,"action":"slide.displaySlide","slideHTML":"<h1>Stuff</h1>"}</textarea>
						</div>
						<button id="system-JSON-send" type="button" class="btn btn-success">Send</button>
						<button id="system-server-restart" type="button" class="btn btn-warning">Restart</button>
						<button id="system-server-shutdown" type="button" class="btn btn-danger">Shutdown</button>
					</div>
					
				</div>
			</div>
		
			<div class="tab-pane active" id="tab-slides">
			<!-- Slide selector pane -->
				<div class="row"><div class="col-md-12"><h3>Clients<small id="system-clients-connected"></small></h3></div></div>
				<div class="row">
					<div class="col-md-3">
						<div id="slides-list"></div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-6">
								<div id="slides-preview-window" class="slideWindow"></div>
							</div>
							<div class="col-md-6">
								<div id="slides-live-window" class="slideWindow"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ralphie-padding">
								<form class="form-inline" role="form">
									<fieldset class="form-group">
										<button id="slides-go-live" type="button" class="btn btn-success">Go Live</button>
										<button id="slides-logo" type="button" class="btn btn-primary">Logo</button>
										<button id="slides-message" type="button" class="btn btn-primary">Message</button>
									
										<label for="slides-message-duration">Duration</label>
										<input type="number" class="form-control" id="slides-message-duration" value="10">
									</fieldset>
								</form>
							</div>
							<div class="col-md-12 ralphie-padding">
							<textarea class="form-control" id="slides-message-box" rows="3"></textarea>
							</div>
						</div>
					</div>
				</div>	
			</div>
			
			<div class="tab-pane" id="tab-twitter">...dfgdfgdfg</div>
			<!-- Twitter pane -->
		</div>
	</div>
</div>